{% extends 'common/base.html.j2' %}

{% block content %}
<h1>Witaj, {{ username }}</h1>
<hr>
<h2>Twoje portfele:</h2>
<ul>
    {% for wallet in wallets %}
    <li><a href="/typer/wallet/{{ wallet.id }}">{{  wallet.name  }}</a></li>
    {% endfor %}
</ul>
<hr>
<h2>Dostępne wydarzenia:</h2>
    {% for event in events %}
    <li><a href="/typer/event/{{ event.id }}">{{ event.name }}</a></li>
    {% endfor %}
<h4><a href="/typer/event/new">Dodaj nowe</a></h4>
{% endblock %}