{% extends 'common/base.html.j2' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h4>Lista wydarzeń</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Gospodarze</th>
                <th>Goście</th>
                <th>Czas rozpoczęcia</th>
            </tr>
            </thead>
            {% for event in events %}
            <tr>
            <td><a href="/typer/event/{{ event.id }}">{{ event.name }}</a></td>
            <td>{{ event.home_name }}</td>
            <td>{{ event.away_name }}</td>
            <td>{{ localtime(event.start_time).strftime('%Y-%m-%d %H:%M') }}</td>
            {% endfor %}
            </tr>
        </table>
    </div>
</div>
{% if perms.core.add_event %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <a href="/typer/event/new">
        <button type="button" class="btn btn-default btn-sm btn-block" >Dodaj nowe</button>
        </a>
    </div>
</div>
{% endif %}
{% endblock %}