{% extends 'common/base.html.j2' %}

{% block content %}
<body>
<h1>Lista wydarzeń</h1>
<hr/>
<ul>
    {% for event in events %}
    <li><a href="/typer/event/{{ event.id }}">{{ event.name }}</a></li>
    {% endfor %}
</ul>
<hr/>
<h4><a href="/typer/event/new">Dodaj nowe</a></h4>
{% endblock %}