{% extends 'common/base.html.j2' %}

{% block content %}
<div class="row">
    <div class="col-md-1">
        <h2><strong>#{{ event.id }}</strong></h2>
    </div>
    <div class="col-md-6 col-md-offset-2 center">
        <h2><strong>{{ event.name }}</strong></h2>
    </div>
    {% if event.result %}
    <div class="col-md-3 center">
        <h2>wynik: {{ event.result }}</h2>
    </div>
    {% endif %}
</div>
<hr/>

<div class="row">
    <div class="col-md-6 col-md-offset-3 center">
        <h3>{{ event.home_name }} - {{ event.away_name }}</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3 center">
        <h4>{{ localtime(event.start_time).strftime('%Y-%m-%d %H:%M') }}</h4>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-6">
        <h4>kursy:</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-1 center">
        <h4>1: {{ '%0.2f' % event.home_odd }}</h4>
    </div>
    <div class="col-md-2 col-md-offset-2 center">
        <h4>X: {{ '%0.2f' % event.draw_odd }}</h4>
    </div>
    <div class="col-md-2 col-md-offset-2 centers">
        <h4>2: {{ '%0.2f' % event.away_odd }}</h4>
    </div>
</div>

{% if bet_form %}
<hr/>
<form method="post" class="center">
    <div class="form-group">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {{ bet_form }}
        <button type="submit" class="btn btn-default">Obstaw!</button>
    </div>
</form>
{% endif %}

{% if bets %}
<hr/>
<div class="row">
    <div class="col-md-6">
        <h4>zawarte zakłady:</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table {% if event.open %}table-striped{% endif %}" id="bets_history">
            <thead>
            <tr>
                <th>Gracz</th>
                <th>Portfel</th>
                <th>Czas zawarcia</th>
                <th>Typ</th>
                <th>Stawka</th>
                <th>Kurs</th>
                <th>Możliwa wygrana</th>
                {% if not event.open %}
                <th>Wygrana</th>
                {% endif %}
            </tr>
            </thead>

            {% for bet in bets %}
                {% if bet.open %}
            <tr>
                {% else %}
                    {% if bet.won %}
            <tr class="won">
                    {% else %}
            <tr class="lost">
                    {% endif %}
                {% endif %}
                <td>{{ bet.wallet.owner}}</td>
                <td>{{ bet.wallet }}</td>
                <td>{{ localtime(bet.creation_time).strftime('%Y-%m-%d %H:%M') }}</td>
                {% if user == bet.wallet.owner or not event.open %}
                <td>{{ bet.chosen_result }}</td>
                <td>{{ '%0.2f' % bet.value }} zł</td>
                <td>{{ '%0.2f' % bet.odd }}</td>
                <td>{{ '%0.2f' % bet.reward }} zł</td>
                <td>{{ '%0.2f' % (bet.reward * bet.won) }} zł</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}

{% if event.to_close and perms.core.can_close %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <a href="close">
            <button type="button" class="btn btn-default btn-sm btn-block">Rozlicz wydarzenie</button>
        </a>
    </div>
</div>
{% endif %}
{% endblock %}