{% extends 'common/base.html.j2' %}

{% block content %}
<form method="post" action="">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
    {{ event_form }}
    <input type="submit" value="Dodaj wydarzenie" />
</form>
{% endblock %}