{% extends 'common/base.html.j2' %}

{% block content %}
<div class="row">
    <div class="col-md-1">
        <h2><strong>#{{ wallet.id }}</strong></h2>
    </div>
    <div class="col-md-6 col-md-offset-2 center">
        <h2><strong>{{ wallet.name }}</strong></h2>
    </div>
    <div class="col-md-3 center">
        <h2>{{ '%0.2f' % wallet.money }} zł</h2>
    </div>
</div>
<hr/>

{% if open_bets %}
<div class="row">
    <div class="col-md-6">
        <h4>Otwarte zakłady</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Czas wydarzenia</th>
                <th>Wydarzenie</th>
                <th>Typ</th>
                <th>Stawka</th>
                <th>Kurs</th>
                <th>Możliwa wygrana</th>
            </tr>
            </thead>
            {% for bet in open_bets %}
            <tr>
                <td>{{ bet.event.start_time.strftime('%Y-%m-%d %H:%M') }}</td>
                <td><strong>{{ bet.event.name }}:</strong> {{ bet.event.home_name }} - {{ bet.event.away_name }}</td>
                {% if user == bet.wallet.owner %}
                <td>{{ bet.chosen_result }}</td>
                <td>{{ '%0.2f' % bet.value }} zł</td>
                <td>{{ '%0.2f' % bet.odd }}</td>
                <td>{{ '%0.2f' % bet.reward }} zł</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tr>
        </table>
    </div>
</div>
{% endif %}


{% if closed_bets %}
<div class="row">
    <div class="col-md-6">
        <h4>Rozliczone zakłady</h4>
    </div>
</div>


<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table">
            <thead>
            <tr>
                <th>Czas wydarzenia</th>
                <th>Wydarzenie</th>
                <th>Typ</th>
                <th>Stawka</th>
                <th>Kurs</th>
                <th>Możliwa wygrana</th>
                <th>Wygrana</th>

            </tr>
            </thead>
            {% for bet in closed_bets %}
            {% if bet.won %}
            <tr class="won">
                {% else %}
            <tr class="lost">
                {% endif %}
                <td>{{ bet.event.start_time.strftime('%Y-%m-%d %H:%M') }}</td>
                <td><strong>{{ bet.event.name }}:</strong> {{ bet.event.home_name }} - {{ bet.event.away_name }}</td>
                <td>{{ bet.chosen_result }}</td>
                <td>{{ '%0.2f' % bet.value }} zł</td>
                <td>{{ '%0.2f' % bet.odd }}</td>
                <td>{{ '%0.2f' % bet.reward }} zł</td>
                <td>{{ '%0.2f' % (bet.reward * bet.won) }} zł</td>
            </tr>
            {% endfor %}
            </tr>
        </table>
    </div>
</div>
{% endif %}


{% endblock %}