{% extends 'common/base.html.j2' %}

{% block content %}
<h1>Portfel {{ wallet.name }} (#{{ wallet.id }}) - info</h1>
<hr/>
<p><b>właściciel:</b> {{ wallet.owner }}</p>
<p><b>saldo:</b> {{ wallet.money }}</p>
{% endblock %}